<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="User" >
  <resultMap id="BaseResultMap" type="com.aijiao.core.model.User" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_id_card" property="userIdCard" jdbcType="VARCHAR" />
    <result column="user_qq_key" property="userQqKey" jdbcType="VARCHAR" />
    <result column="user_weixin_key" property="userWeixinKey" jdbcType="VARCHAR" />
    <result column="user_age" property="userAge" jdbcType="INTEGER" />
    <result column="user_sex" property="userSex" jdbcType="CHAR" />
    <result column="user_flag" property="userFlag" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.aijiao.core.model.User" extends="BaseResultMap" >
    <result column="user_address" property="userAddress" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_nickname, user_name, user_pwd, user_phone, user_id_card, user_qq_key, 
    user_weixin_key, user_age, user_sex, user_flag
  </sql>
  <sql id="Blob_Column_List" >
    user_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from cas_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cas_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aijiao.core.model.User" >
    insert into cas_user (user_id, user_nickname, user_name, 
      user_pwd, user_phone, user_id_card, 
      user_qq_key, user_weixin_key, user_age, 
      user_sex, user_flag, user_address
      )
    values (#{userId,jdbcType=BIGINT}, #{userNickname,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userIdCard,jdbcType=VARCHAR}, 
      #{userQqKey,jdbcType=VARCHAR}, #{userWeixinKey,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, 
      #{userSex,jdbcType=CHAR}, #{userFlag,jdbcType=BIT}, #{userAddress,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aijiao.core.model.User" >
    insert into cas_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userIdCard != null" >
        user_id_card,
      </if>
      <if test="userQqKey != null" >
        user_qq_key,
      </if>
      <if test="userWeixinKey != null" >
        user_weixin_key,
      </if>
      <if test="userAge != null" >
        user_age,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userFlag != null" >
        user_flag,
      </if>
      <if test="userAddress != null" >
        user_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null" >
        #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="userQqKey != null" >
        #{userQqKey,jdbcType=VARCHAR},
      </if>
      <if test="userWeixinKey != null" >
        #{userWeixinKey,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null" >
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=CHAR},
      </if>
      <if test="userFlag != null" >
        #{userFlag,jdbcType=BIT},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aijiao.core.model.User" >
    update cas_user
    <set >
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null" >
        user_id_card = #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="userQqKey != null" >
        user_qq_key = #{userQqKey,jdbcType=VARCHAR},
      </if>
      <if test="userWeixinKey != null" >
        user_weixin_key = #{userWeixinKey,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null" >
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=CHAR},
      </if>
      <if test="userFlag != null" >
        user_flag = #{userFlag,jdbcType=BIT},
      </if>
      <if test="userAddress != null" >
        user_address = #{userAddress,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.aijiao.core.model.User" >
    update cas_user
    set user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_id_card = #{userIdCard,jdbcType=VARCHAR},
      user_qq_key = #{userQqKey,jdbcType=VARCHAR},
      user_weixin_key = #{userWeixinKey,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      user_sex = #{userSex,jdbcType=CHAR},
      user_flag = #{userFlag,jdbcType=BIT},
      user_address = #{userAddress,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aijiao.core.model.User" >
    update cas_user
    set user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_id_card = #{userIdCard,jdbcType=VARCHAR},
      user_qq_key = #{userQqKey,jdbcType=VARCHAR},
      user_weixin_key = #{userWeixinKey,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      user_sex = #{userSex,jdbcType=CHAR},
      user_flag = #{userFlag,jdbcType=BIT}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>